<div {{bind-attr class="note.isEditing"}}>
  {{#if note.isEditing}}
    {{textarea value=title}}
    {{textarea value=body}}
    <button {{action 'saveNote' this}}>Save</button>
  {{else}}
    <h2>
      <label {{action 'editNote' this on="click"}}>{{title}}</label>
    </h2>
    <p>
      {{body}}
    </p>
    <button {{action 'deleteNote' note}}>Delete</button>
  {{/if}}
</div>
