
<div class="flash-message">
  <h2>{{message-queue}}</h2>
</div>

<section class="newNote">
  <div class="inputNote">
    <header>
      <h2>Create a note!</h2>
      {{textarea placeholder="Add a title!" value=titleCopy rows=1}}
    </header>
    <body>
      {{textarea placeholder="Add a note!" value=noteCopy}}
      <button {{action 'newNote'}}>Save Note</button>
    </body>
  </div>
  <div class="previewNote">
    <h2>{{titleCopy}}</h2>
    <p>
      {{noteCopy}}
    </p>
  </div>
</section>

<section class="notes">
  {{#each note in model}}
  <div class="note">
    <h2>
      {{note.title}}
    </h2>
    <p>
      {{note.body}}
    </p>
    <button {{action 'deleteNote' note.id}}>Delete</button>
  </div>
  {{/each}}
</section>
