<section class="newNote">
  <header>
    {{textarea placeholder="Add a title!" value=titleCopy rows=1}}
  </header>
  <body>
    {{textarea placeholder="Add a note!" value=noteCopy}}
    <button {{action 'newNote'}}>Save Note</button>
  </body>
</section>

<section class="notes">
  {{#each note in model}}
  <div class="note">
    <h2>
      {{note.title}}
    </h2>
    <p>
      {{note.body}}
    </p>
    <button {{action 'deleteNote'}}>Delete</button>
  </div>
  {{/each}}
</section>
